
*{
    margin: 0;
}
    /*---------
Section 1 
--------*/
.section.section-1{
    align-items: center;
}
.section-1-all-div{
    display: flex;
    background-color: rgb(12, 12, 12);
    /* align-items: center; */
    border-radius: 41px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: cover;
    background-attachment: fixed;
    /* padding-bottom: 100px; */
}
p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
 
.all-section-1-child-1{
    padding: 8rem;
}
.all-section-1-child-2 img{
    /* size: 1rem; */
    width: 500px;
    height: 600px;
    padding-left: 12rem;
}
.all-section-1-child-1>h1{
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 700;
}
.all-section-1-child-1>p{
    color: aliceblue;
    font-size: 15px;
    
}
.button-class{
    background-color: #DD0000;
    padding: 1em;
    border-radius: 5px;
    color: white;
}
/* ------
Section - 2
------- */
.section-2{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        margin-top: 5rem;
        margin-bottom: 10rem;
     }
.section-2-button{
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
 }

 .section-2-button-moveent{
    align-items: center;
    padding: 1rem;
    margin: 1rem;
 }
 .button-class-2{
    background-color: #DD0000;
    padding: 1em;
    border-radius: 9px;
    color: white;
 }
 .Venue{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 1rem;
    padding: 1rem;
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
 }
 .venue-1{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 3rem;
    
 }
 .venue-2{
    text-align: center;
    padding-top: 2rem;
 }
 .venue-content{
    border: 1px solid #E8E8E8;
    border-radius: 1rem;
    width: 275px;
    height: 234px;

 }
  /* -----
  Section2
  ------- */
/* ------
Footer Section
---------- */
footer h3{
    text-align: center;
    color: #FFFFFF;
    padding-top: 10rem;
    font-size: 40px;
} 
li ,a{
    font-weight: 700px;
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9 ;
    margin-bottom: 5rem;
}
.nav-link li{
    display: inline-block;
    padding: 1rem;
}
header{
    align-items: center;
    text-align: center;
    background-color: #161616;
} hr{
    margin:5rem;

}
